* {
    /* Estilos generales */
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

body {
    /* Estilos modo claro */
    transition: all 0.3s linear;
    background-color: white;
    color: #333;
    /*Estilos generales*/
    /* Contenedor flexible */
    display: flex;
    flex-direction: column;


}

/* Estilos de la cabecera */

header {
    display: flex;
    flex-direction: column;
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;
    background-color: inherit;
}

.header__head {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 200px;
}

/* Contenedor de opciones de usuario en el header */
.header__options {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Estilos botón de cambiar de tema */
#toggleMode {
    padding: 5px;
    cursor: pointer;
    border: none;
    background: none;
}

.header__navbar>ul {
    /* Parte de flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* Estilos bordes */
    border-top: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
}

.header__navbar ul a {
    padding: 10px;
    font-weight: bold;
}

.header__navbar ul a:hover {
    color: #47A3DC;
}

/* Estilos del cuerpo */

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    height: 84vh;
}

.scroll {
    max-height: 82vh;
    overflow: auto;
    max-height: 81vh;

    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Estilos de la sección de noticias */

.section {
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}

.section>h1 {
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #47A3DC;
}

.section__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 0.3fr;
    gap: 20px;
    max-height: 77vh;
}

/* Estilos migas de pan */

ul.breadcrumb {
    display: flex;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/";
}

ul.breadcrumb li a.active {
    color: #47A3DC;
    font-weight: bold;
}

/* Estilos de cada noticia */

.article {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    overflow: hidden;
    border: 2px solid currentColor;
    border-radius: 5px;
}

.article__image {
    overflow: hidden;
    max-height: 50%;
    flex: 0 1 auto;
}

.article__image>img {
    width: 100%;
}

.article__body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex: 2 1 auto;
    gap: 15px;

    padding-left: 10px;
    padding-right: 10px;
}

.article__body .article__title {
    text-align: center;
}

.article__body .article__text {
    text-align: justify;
}

.article__button {
    display: block;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: inherit;
    color: #47A3DC;
    border: 2px solid currentColor;
    border-radius: 20px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.article__button:hover {
    transform: scale(1.1);
}

.article__button:active {
    transform: scale(1);
}

.article__central {
    grid-column: 2/4;
    grid-row: 1/3;
}

.article__central .article__image {
    max-height: 65%;
}

/* Paginación de noticias */

.section__pagination {
    grid-column: 1/5;
    padding-top: 20px;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.pagination a {
    padding: 15px;
    color: #47A3DC;
    font-weight: bold;
}

.pagination a:hover {
    background-color: #47A3DC;
    color: white;
}

.pagination #active {
    background-color: #47A3DC;
    color: white;
}

/* Estilos footer */

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: min-content;
    padding: 30px 28vw;
    text-align: center;
    line-height: 24px;

    border-top: 2px solid currentColor;
}

.footer .footer__icons {
    display: inline-flex;
    gap: 10px;
}

.footer__icons a {
    padding: 5px;
    transition: transform 0.3s linear;
}

.footer__icons a:hover {
    color: #47A3DC;
    transform: translateY(-4px);
}

/* Boton subir */

#button__up {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #47A3DC;
}

/* Estilos del login */

.hidden {
    visibility: hidden;
}

.login {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.login section {
    display: flex;
    flex-direction: column;
    gap: 30px;

    min-height: 40vh;
    width: 20vw;
    padding: 30px;
    border: 2px solid currentColor;
    border-radius: 20px;
}

.login h2 {
    text-align: center;
}

.login section form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    gap: 40px;
    font-size: 20px;
}

.form__body{
    display: flex;
    flex-direction: column;
    gap: 15px;

    color: currentColor;
}

.form__body input{
    background-color: inherit;
}

.form__footer{
    display: flex;
    flex-direction: column;
}

form input {
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
}

form input[type="submit"] {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: inherit;
    color: #47A3DC;
    border: 2px solid currentColor;
    border-radius: 20px;
    transition: all 0.3s linear;
    cursor: pointer;
}

form input[type="submit"]:hover {
    transform: scale(1.1);
}

form input[type="submit"]:active {
    transform: scale(1);
}

/* Estilos para modo oscuro (cambiado manualmente) */
[data-theme='dark'] {
    background-color: #333;
    color: white;
}